h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body { height: 100%; margin: 0; overflow: hidden}

body {
    font-family: 'Domine', serif;
    font-size: 20px;
    color: rgb(140, 140, 140);
    padding-bottom: 20px;
    text-align: center;
    margin-top: 1px;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right top, #fd621f, #f38a2a, #eaaa46, #e3c46c, #e0db96, #e4d18b, #e9a444, #fb855e, #fb3a72, #d200a7, #2a1eff, #250b7c);
            background-size: 400% 400%;
            animation: gradient 20s ease infinite; /* apply loop animation for gradient */
}

footer {
    font-family: 'Domine', serif;
    font-size: 10px;
    color: rgb(147, 132, 132);
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;  /* align to the bottom of the page */
    bottom: 10px;
    width: 100%;
}

#canvas {
    display: block;
    width: 100vw;
    height: 100vh;

    /* z-index = layer 1, inset just say the entire screen */
    position: fixed;
    inset: 0; 
    z-index: 1;
}

/* Animating background gradient */
@keyframes gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

.topbar {
    position: relative;
    z-index: 2; /* layer 2, above the canvas */
    text-align: center;
    pointer-events: none; /* let's mouse click pass through the title area even tho text on top of canvas */
}


/*

<mouse click>
-----Layer 2-----
|               |
↓               ↓
-----Layer 1-----
|               |
↓               ↓
-----------------
<draw still ok even with layers>
*/